body {
  background-color: hsl(30, 38%, 92%);
}

.card {
  display: flex;
  margin: 6rem auto;
  flex-direction: row;
  background-color: white;
  overflow: hidden;
  width: 640px;
  height: 500px;
  border-radius: 10px;
}

.card img {
  max-width: 100%;
}

.card-content {
  padding: 1.6rem;
}

.card-content h1 {
  font-family: "Fraunces", "serif";
  margin-right: 1rem;
}

.card-content h2 {
  font-family: "Fraunces", "serif";
}

.card-content h4 {
  font-family: "Montserrat", "sans-serif";
  letter-spacing: 0.3rem;
  color: gray;
  font-size: smaller;
}

.card-content p {
  font-family: "Montserrat", "sans-serif";
  font-size: small;
  color: gray;
  font-size: medium;
  line-height: 1.5;
  margin: 1.2rem auto;
}

button {
  width: 100%;
  font-weight: 700;
  background-color: hsl(158, 36%, 37%);
  color: white;
  padding: 1rem 0.8rem;
  border: 0;
  border-radius: 5px;
  align-items: center;
}

button:hover {
  cursor: pointer;
  background-color: hsl(158, 36%, 17%);
}

.price {
  display: flex;
  align-items: center;
}

.price h1 {
  color: hsl(158, 36%, 37%);
}

.price p {
  text-decoration: line-through;
  justify-content: left;
}

@media (max-width: 900px) {
  .card {
    display: flex;
    margin: 6rem auto;
    flex-direction: column;
    width: 375px;
    height: 1050px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
  }

  .card img {
    max-height: 100%;
    object-fit: cover;
  }
}
